.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*='col-'] {
    float: left;
    padding: 0 .5em;
    width: 100%;
    margin-bottom: .5em;
}

@media screen and (min-width: 640px) {
    .row + .row {
        margin-top: .5em;
    }

    [class*='col-'] {
        margin-right: 1%;
    }

    .col-1-6 {
        width: 15.8333%;
    }

    .col-2-6 {
        width: 32.6667%;
    }

    .col-3-6 {
        width: 49.5%;
    }

    .col-4-6 {
        width: 66.3332%;
    }

    .col-5-6 {
        width: 83.1665%;
    }

    .col-6-6 {
        width: 100%;
    }

    [class*='col-']:last-of-type {
        margin-right: 0;
    }

}